# Created by .ignore support plugin (hsz.mobi)
cmake-build-debug/CMakeFiles/3.16.5/CompilerIdC/tmp/
cmake-build-debug/CMakeFiles/3.16.5/CompilerIdCXX/tmp/
cmake-build-debug/CMakeFiles/CMakeTmp/
/.vscode/
10-7C++/.DS_Store
"10-7C++/Homework/\345\275\222\346\241\243.zip"
10-8Data/.DS_Store
10-8Data/lyj/main
cmake-build-debug/CMakeFiles/DataHomework.dir/10-7C++/Homework/3/
cmake-build-debug/CMakeFiles/DataHomework.dir/10-7C++/Student/
cmake-build-debug/CMakeFiles/DataHomework.dir/10-8Data/lyj/
"cmake-build-debug/CMakeFiles/DataHomework.dir/9-30/C++\345\244\232\346\226\207\344\273\266/"
cmake-build-debug/CMakeFiles/DataHomework.dir/C.includecache
!/.vscode/
10-14C++/.DS_Store
"10-14C++/\344\275\234\344\270\232/\346\240\210/.DS_Store"
10-15Data/.DS_Store
"10-15Data/\345\256\236\351\252\214/Expression"
10-21/.DS_Store
10-21/homework.zip
10-28C++/10-2
"10-28C++/10-28\344\275\234\344\270\232.zip"
10-28C++/9-11
"cmake-build-debug/CMakeFiles/DataHomework.dir/10-14C++/\344\275\234\344\270\232/9.5/"
"cmake-build-debug/CMakeFiles/DataHomework.dir/10-14C++/\350\257\276\344\270\212/"
"cmake-build-debug/CMakeFiles/DataHomework.dir/10-15Data/\345\256\236\351\252\214/Expression.cpp 2.o"
"cmake-build-debug/CMakeFiles/DataHomework.dir/10-15Data/\345\256\236\351\252\214/Expression.cpp.o"
"cmake-build-debug/CMakeFiles/DataHomework.dir/10-15Data/\345\256\236\351\252\214/NewExpression.cpp.o"
cmake-build-debug/CMakeFiles/DataHomework.dir/10-21/
cmake-build-debug/CMakeFiles/DataHomework.dir/10-22Data/
"cmake-build-debug/CMakeFiles/DataHomework.dir/10-8Data/\345\256\236\351\252\2143/"
cmake-build-debug/DataHomework 2
