# Created by .ignore support plugin (hsz.mobi)
cmake-build-debug/CMakeFiles/3.16.5/CompilerIdC/tmp/
cmake-build-debug/CMakeFiles/3.16.5/CompilerIdCXX/tmp/
cmake-build-debug/CMakeFiles/CMakeTmp/
/.vscode/
10-7C++/.DS_Store
"10-7C++/Homework/\345\275\222\346\241\243.zip"
10-8Data/.DS_Store
10-8Data/lyj/main
cmake-build-debug/CMakeFiles/DataHomework.dir/10-7C++/Homework/3/
cmake-build-debug/CMakeFiles/DataHomework.dir/10-7C++/Student/
cmake-build-debug/CMakeFiles/DataHomework.dir/10-8Data/lyj/
"cmake-build-debug/CMakeFiles/DataHomework.dir/9-30/C++\345\244\232\346\226\207\344\273\266/"
cmake-build-debug/CMakeFiles/DataHomework.dir/C.includecache
